<section>
    <div class="description">
        A continuación se muestra una representación visual de un arreglo unidimensional. Cada cuadro representa un elemento del arreglo, con su índice mostrado arriba y su valor dentro.
      </div>
      <div class="array-container"></div>
        <div class="controls">
<input type="text" id="array-value" placeholder="Valor" maxlength="1">
<button id="add-btn">Agregar elemento</button>
<button id="remove-btn" disabled>Eliminar elemento</button>
</div>
</section>