{% extends "base.html" %}
{% block introduccion %}
    {% include "introduccion.html" %}
{% endblock %}
{% block soloTexto %}
    {% include "soloTexto.html" %}
{% endblock %}
{% block textoMasVideo %}
    {% include "textoMasVideo.html" %}
{% endblock %}
{% block toggleInfo %}
    {% include "toggleInfo.html" %}
{% endblock %}
{% block tabInfo %}
    {% include "tabInfo.html" %}
{% endblock %}
{% block arrayExample %}
    {% include "arrayExample.html" %}
{% endblock %}
{% block pythonCodeToClip %}
    {% include "pythonCodeToClip.html" %}
{% endblock %}
{% block pythonCodeToRun %}
    {% include "pythonCodeToRun.html" %}
{% endblock %}
{% block infoBox %}
    {% include "infoBox.html" %}
{% endblock %}