<section>
    <div class="info-box">
        <span class="material-icons info-icon">info</span>
        <div class="info-content">
          <p>
            You can't edit every field. The <strong>issue key</strong> stays the same so that you always have a unique way of identifying each issue. The <strong>Created</strong> and <strong>Updated</strong> fields generate automatically based on when you created the issue or last updated it, so you can't edit them.
          </p>
        </div>
    </div>
</section>