<section class="section-one">
    <div class="container">
        <h1>Estructura de Datos con Python</h1>
        <p class="highlight">Al final de la lección tú sabrás:</p>
        <ul>
            <li>Explicar y entender claramente qué son las estructuras de datos</li>
            <li>Cómo se utilizan las estructuras de datos en la industria actual</li>
            <li>Cuáles son las estructuras de datos más utilizadas</li>
            <li>Un panorama general del curso de Estructuras de Datos</li>
        </ul>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='/assets/wave_bottom.svg') }}" alt="Wave bottom design">
    </div>
</section>