<section>
    <div>
        <textarea id="codeInput" placeholder="Ej. print('hola mundo')" rows="10" cols="50"></textarea>
        <button onclick="runCode()"><span class="material-icons">
            play_arrow
            </span></button>
    </div>
      
    <div id="inputContainer">
        <!-- Dynamic input messages will be inserted here -->
      </div>
      
      <div class="container" id="outputContainer">
        <!-- Execution result will be shown here -->
      </div>
    
</section>
