
    <div class="container">
        <h2>Estructura de Datos</h2>
        <p>
            Las estructuras de datos son un método para organizar los datos 
            en una computadora o sistema, de manera que se puedan <b>manipular</b>, 
            <b>recuperar</b> y <b>almacenar</b> de forma eficiente.
        </p>
        <p>Las estructuras de datos son útiles para:</p>
        <ul>
            <li><b>Integrar</b> y compartir datos de múltiples fuentes</li>
            <li><b>Optimizar</b> el almacenamiento de datos</li>
            <li>Hacer que los datos sean <b>accesibles</b> para los usuarios</li>
            <li><b>Reducir</b> los esfuerzos de administración de datos</li>
            <li><b>Mejorar</b> la eficiencia de los programas</li>
        </ul>
        <p>
            Las estructuras de datos pueden ser lineales o no lineales. Las estructuras lineales son aquellas en las que los datos 
            se organizan en una lista ordenada, como las matrices, las listas, las colas y las pilas. 
            Las estructuras no lineales son aquellas en las que cada elemento puede estar enlazado a cualquier otro componente.
        </p>
        </div>