<section>
    
    <div class="tabs">
        <div class="tab active" data-tab="epics">EPICS</div>
        <div class="tab" data-tab="stories">STORIES, TASKS, & BUGS</div>
        <div class="tab" data-tab="subtasks">SUBTASKS</div>
    </div>

    <div id="epics" class="content active">
        <h3>Epics</h3>
        <p>Epics appear in the Epics panel of the backlog. 
            They may also appear on your board, depending on how your team set it up.
        </p>
        </div>

    <div id="stories" class="content">
        <h3>Stories, Tasks, & Bugs</h3>
        <p>Details about stories, tasks, and bugs will be displayed here.</p>
    </div>

    <div id="subtasks" class="content">
        <h3>Subtasks</h3>
        <p>Details about subtasks will be displayed here.</p>
    </div>

    
</section>