<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"
          onload="renderMathInElement(document.body);"></script>
          <script src="https://cdn.jsdelivr.net/pyodide/v0.23.4/full/pyodide.js"></script>

    <title>Estructura de Datos</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="nav">
                <a href="#introduccion" class="nav-item active">Introducción</a>
                <a href="#explicacion" class="nav-item">Arreglos</a>
                <a href="#conceptos" class="nav-item">Conceptos básicos</a>
                <a href="#arregloEjemplo" class="nav-item">Ejemplo de arreglo</a>
            </div>
        </div>
    </header>
    <main>
        <section id="introduccion">
            {% block introduccion %}
                {% include "arreglos/introduccion.html" %}
            {% endblock %}
        </section>
    
        <section id="explicacion">
            {% block explicacion %}
                {% include "arreglos/explicacion.html" %}
            {% endblock %}
        </section>
    
        <section id="conceptos">
            {% block conceptos %}
                {% include "arreglos/conceptosBasicos.html" %}
            {% endblock %}
        </section>

        <section id="arregloEjemplo">
            {% block arregloEjemplo %}
                {% include "arreglos/arregloEjemplo.html" %}
            {% endblock %}
        </section>
    </main>
    <footer>
        <p style="margin-left: 5rem;">&copy; 2025 Dr Alejandro Morgan. Todos los derechos reservados.</p>
    </footer>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/codeClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pythonCodeRunner.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/arrayExplanation.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/videoWrapper.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/toggleSection.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/tabsSection.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mathKatex.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/activeNav.js') }}"></script>
</body>
</html>
