<section class="section-two">
    <div class="container">
        <h2>Conceptos básicos de los arreglos</h2>
        <div class="section">
            <div class="section-header" onclick="toggleSection(this)">
                <h3>Finito</h3>
                <span class="icon">+</span>
            </div>
            <div class="section-content">
                <p>Todo arreglo es una colección finita de elementos, es decir, se debe determinar cuál será el número máximo de elementos que formarán parte de el</p>
            </div>
        </div>

        <div class="section">
            <div class="section-header" onclick="toggleSection(this)">
                <h3>Homogéneo</h3>
                <span class="icon">+</span>
            </div>
            <div class="section-content">
                <p>Todos los elementos de un arreglo son del mismo tipo. Es decir, todos enteros, todos booleanos, etcétera, pero nunca una combinación de distintos tipos.</p>
            </div>
        </div>
        <div class="section">
            <div class="section-header" onclick="toggleSection(this)">
                <h3>Ordenado</h3>
                <span class="icon">+</span>
            </div>
            <div class="section-content">
                <p>Se puede determinar cuáles son el primero, el segundo, el tercero, ... y el enésimo elementos, desde su constitución.</p>
            </div>
        </div>
        <div class="section">
            <div class="section-header" onclick="toggleSection(this)">
                <h3>Componente</h3>
                <span class="icon">+</span>
            </div>
            <div class="section-content">
                <p>Los componentes hacen referencia a los elementos que forman el arreglo; es decir, a los valores que se almacenan en cada una de sus casillas.</p>
            </div>
        </div>
        <div class="section">
            <div class="section-header" onclick="toggleSection(this)">
                <h3>Índice</h3>
                <span class="icon">+</span>
            </div>
            <div class="section-content">
                <p>Los índices especifican cuántos elementos tendrá el arreglo y además de qué modo podrán recuperarse esos componentes. Los índices tam- bién permiten hacer referencia a los componentes del arreglo en forma individual; es decir, distinguirán entre sus elementos.</p>
            </div>
        </div>
    </div>
</section>