<section class="section-two">
    <div class="container">
        <h2>Arreglos</h2>
        <p>
            Un arreglo <b>unidimensional</b> se define como una colección <b>finita</b>, <b>homogénea</b> y <b>ordenada</b> de elementos.
        </p>
        <p>
            Si un arreglo tiene la característica de que puede almacenar a N elementos del mismo tipo, entonces deberá permitir la recuperación de cada uno de ellos. Como con- secuencia, se distinguen do partes fundamentales en los arreglos:
        </p>
        <ul>
            <li>Los componentes.</li>
            <li>Los índices.</li>
        </ul>
        <p>
            para hacer referencia a un elemento de un arreglo se debe utilizar:
        </p>
        <ul>
            <li>El nombre del arreglo.</li>
            <li>El índice del elemento.</li>
        </ul>
        </div>
</section>