<section class="section-one">
    <div class="container">
        <h1>Arreglos</h1>
        <p class="highlight">Al final de la lección tú sabrás:</p>
        <ul>
            <li>Explicar y entender claramente qué son los arreglos como estructuras de datos</li>
            <li>Cómo se utilizan los arreglos</li>
            <li>Cuáles son las características y tipos de arreglos</li>
        </ul>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='/assets/wave_bottom.svg') }}" alt="Wave bottom design">
    </div>
</section>